html {
  overflow-y: scroll;
}

.App {
  font-family: Muli, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  background-color: #efefef;
}
.main-container {
  max-width: 1280px;
  margin: auto;
}

.layout {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  overflow: auto;
}

.content {
  flex: 1;
  background-color: white;
  padding: 10px;
  border-top: 5px tomato solid;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
.footer {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.nav-link {
  color: #aaa;
}

.activeNav {
  color: tomato;
}

h1 {
  font-size: 2rem;
  border-bottom: 1px solid #282c34;
}
