.main-container {
  max-width: 1280px;
  border: 1px red solid;
  background-color: #282c34;
}

.layout {
  background-color: grey;
  border: 1px blue solid;
}

.content {
  background-color: white;
}
